/* ESTILOS DEL HOME */

/* EFECTO PARALLAX */
.parallax {
    /* The image used */
    background-image: url("../images/img_parallax.jpg");

    /* Set a specific height */
    min-height: 570px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav{
    text-align: right;

}
.topnav a:hover {
    background-color: #ddd;
    color: grey;
}

.topnav a.active {

    color: white;
}


#parallaxtext{
    text-align: center;
    font-size: 30px;
    left: 20px;
}